In [1]:
import pandas as pd

df = pd.read_csv("Sales.csv")

df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [2]:
df["State"].sample(10)
df["Country"].sample(10)

102858     United States
57371      United States
84975          Australia
41092          Australia
44789            Germany
78740          Australia
4130              France
104729     United States
109518    United Kingdom
96810      United States
Name: Country, dtype: object

# Case bikestore 
Ägare Yohanna av bike store europe tycker om att göra datadrivna beslut och har anlitat er som LIA studenter för att göra analyser av datan som finns tillgänglig. Yohanna har drivit den här businessen ett tag, men vill ta reda på så mycket som möjligt om sin affärsverksamhet. Hon har hört att det är bra med en initial exploratory data analysis (EDA), men vet inte själv hur man gör detta.

Ni ska få hoppa in i grupper och jobba med detta.

Frågor att fundera på 
vad kan vara intressant för Yohanna att veta?
vad skulle man kunna få ut från datan?

- kund ålder
- kund gender
- kostnader och inkomster
- kvatitet

In [3]:
age = df["Customer_Age"]
gender = df["Customer_Gender"]
price = df["Unit_Price"]
profit = df["Profit"]
uc = df["Unit_Cost"]

In [4]:
age.median()
age.mean()

np.float64(35.91921157861212)

```text
Genomsnits åldrtn på kunder är i ~36 års ålden.
```

In [5]:
gender.value_counts()

Customer_Gender
M    58312
F    54724
Name: count, dtype: int64

Affären har flest manliga kunder, men skilnaden är inte stor.

In [6]:
df.loc[1]

Date                         2015-11-26
Day                                  26
Month                          November
Year                               2015
Customer_Age                         19
Age_Group                   Youth (<25)
Customer_Gender                       M
Country                          Canada
State                  British Columbia
Product_Category            Accessories
Sub_Category                 Bike Racks
Product             Hitch Rack - 4-Bike
Order_Quantity                        8
Unit_Cost                            45
Unit_Price                          120
Profit                              590
Cost                                360
Revenue                             950
Name: 1, dtype: object

In [7]:
profit.sum()

np.int64(32221100)

In [8]:
uc.sum()

np.int64(30214112)

In [9]:
profit_per_product = (df["Unit_Price"] - df["Unit_Cost"])

profit_per_product.unique()

array([  75,  100,    6,    3,    2,    5,   14,   15,   22,   34,   12,
       1488, 1477, 1054, 1043,  349,  257,  245, 1407,  196,  618,  888,
        407,  924,  296,   44,    1,   16,   13,   18,   19,   21,  902,
        281,  460,   40])

In [10]:
df["Product"].unique()

array(['Hitch Rack - 4-Bike', 'All-Purpose Bike Stand',
       'Mountain Bottle Cage', 'Water Bottle - 30 oz.',
       'Road Bottle Cage', 'AWC Logo Cap', 'Bike Wash - Dissolver',
       'Fender Set - Mountain', 'Half-Finger Gloves, L',
       'Half-Finger Gloves, M', 'Half-Finger Gloves, S',
       'Sport-100 Helmet, Black', 'Sport-100 Helmet, Red',
       'Sport-100 Helmet, Blue', 'Hydration Pack - 70 oz.',
       'Short-Sleeve Classic Jersey, XL',
       'Short-Sleeve Classic Jersey, L', 'Short-Sleeve Classic Jersey, M',
       'Short-Sleeve Classic Jersey, S', 'Long-Sleeve Logo Jersey, M',
       'Long-Sleeve Logo Jersey, XL', 'Long-Sleeve Logo Jersey, L',
       'Long-Sleeve Logo Jersey, S', 'Mountain-100 Silver, 38',
       'Mountain-100 Silver, 44', 'Mountain-100 Black, 48',
       'Mountain-100 Silver, 48', 'Mountain-100 Black, 38',
       'Mountain-200 Silver, 38', 'Mountain-100 Black, 44',
       'Mountain-100 Silver, 42', 'Mountain-200 Black, 46',
       'Mountain-200 Silver, 42', 'Mountain-200 Silver, 46',
       'Mountain-200 Black, 38', 'Mountain-100 Black, 42',
       'Mountain-200 Black, 42', 'Mountain-400-W Silver, 46',
       'Mountain-500 Silver, 40', 'Mountain-500 Silver, 44',
       'Mountain-500 Black, 48', 'Mountain-500 Black, 40',
       'Mountain-400-W Silver, 42', 'Mountain-500 Silver, 52',
       'Mountain-500 Black, 52', 'Mountain-500 Silver, 42',
       'Mountain-500 Black, 44', 'Mountain-500 Silver, 48',
       'Mountain-400-W Silver, 38', 'Mountain-400-W Silver, 40',
       'Mountain-500 Black, 42', 'Road-150 Red, 48', 'Road-150 Red, 62',
       'Road-750 Black, 48', 'Road-750 Black, 58', 'Road-750 Black, 52',
       'Road-150 Red, 52', 'Road-150 Red, 44', 'Road-150 Red, 56',
       'Road-750 Black, 44', 'Road-350-W Yellow, 40',
       'Road-350-W Yellow, 42', 'Road-250 Black, 44',
       'Road-250 Black, 48', 'Road-350-W Yellow, 48',
       'Road-550-W Yellow, 44', 'Road-550-W Yellow, 38',
       'Road-250 Black, 52', 'Road-550-W Yellow, 48', 'Road-250 Red, 58',
       'Road-250 Black, 58', 'Road-250 Red, 52', 'Road-250 Red, 48',
       'Road-250 Red, 44', 'Road-550-W Yellow, 42',
       'Road-550-W Yellow, 40', 'Road-650 Red, 48', 'Road-650 Red, 60',
       'Road-650 Black, 48', 'Road-350-W Yellow, 44', 'Road-650 Red, 52',
       'Road-650 Black, 44', 'Road-650 Red, 62', 'Road-650 Red, 58',
       'Road-650 Black, 60', 'Road-650 Black, 58', 'Road-650 Black, 52',
       'Road-650 Black, 62', 'Road-650 Red, 44',
       "Women's Mountain Shorts, M", "Women's Mountain Shorts, S",
       "Women's Mountain Shorts, L", 'Racing Socks, L', 'Racing Socks, M',
       'Mountain Tire Tube', 'Touring Tire Tube', 'Patch Kit/8 Patches',
       'HL Mountain Tire', 'LL Mountain Tire', 'Road Tire Tube',
       'LL Road Tire', 'Touring Tire', 'ML Mountain Tire', 'HL Road Tire',
       'ML Road Tire', 'Touring-1000 Yellow, 50', 'Touring-1000 Blue, 46',
       'Touring-1000 Yellow, 60', 'Touring-1000 Blue, 50',
       'Touring-3000 Yellow, 50', 'Touring-3000 Blue, 54',
       'Touring-3000 Blue, 58', 'Touring-3000 Yellow, 44',
       'Touring-3000 Yellow, 54', 'Touring-3000 Blue, 62',
       'Touring-3000 Blue, 44', 'Touring-1000 Blue, 54',
       'Touring-1000 Yellow, 46', 'Touring-1000 Blue, 60',
       'Touring-3000 Yellow, 62', 'Touring-1000 Yellow, 54',
       'Touring-2000 Blue, 54', 'Touring-3000 Blue, 50',
       'Touring-3000 Yellow, 58', 'Touring-2000 Blue, 46',
       'Touring-2000 Blue, 50', 'Touring-2000 Blue, 60',
       'Classic Vest, L', 'Classic Vest, M', 'Classic Vest, S'],
      dtype=object)